$h: 1em;
$r: 0.5 * $h;
$b: 0.15em;

@mixin val() {
	border-radius: $r - $b;
	box-shadow: inset 0 0.05em 0.05em rgba(#fff, 0.35);
	background: var(--fill);
}

#progress {
	box-sizing: border-box;
	border: solid $b #242b35;
	width: 13em;
	border-radius: $r;
	height: $h;
	font-size: larger;
	background: linear-gradient(#171717, #272626);

	&::-webkit-progress-bar {
		background: transparent;
	}

	&::-webkit-progress-value {
		@include val();
	}

	&::-moz-progress-bar {
		@include val();
	}

	--fill: linear-gradient(#e74c59, transparent 85%),
	linear-gradient(90deg, #aa92d4, #6c3bc2);
}

#progressHeader {
	position: relative;
	left: 1em;
	bottom: 2.2em;
	margin: 0 0;
	font-size: 0.6rem;
}

p {
	margin: 0 0;
}