@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

:root {
	font-family: "Aldrich", Inter, system-ui;
	line-height: 1.5;
	font-weight: 400;
	/* background-color: #242424; */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* color-scheme: light dark; */
}
body {
	/* width: 100vw; */
	margin: 0;
	background: linear-gradient(#c1aebc, #ffffff);
	background-repeat: no-repeat;
	height: max(auto, 100vh);
	font-size: clamp(0.75rem, 1.2vw + 0.4rem, 1.2rem);
}

@media screen and (max-width: 768px) {
	img {
		transform: scale(1, 0.7);
	}
	#mainLine {
		height: 250vh !important;
	}
}
